.header{
	font-family: 'Lexend Deca', sans-serif;
	color: white;
}
.jumbotronnew
{
	padding:8rem 1rem;
	margin-bottom:2rem;
	background-color:#e9ecef;
	border-radius:.3rem;
	background-image: url("../images/background.jpg");
	background-size: cover;

}
@media (min-width:576px)
{
	.jumbotronnew
	{
		padding:10rem 2rem;
	}
}